---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    
    <footer style="width: 100%; text-align: center; padding: 20px 0; margin-top: auto;">
      <div style="height: 250px; width: 250px; margin: 0 auto;">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=0PxzS5qKlTdQC_gTaGZFSZyQ_b5WY6TPQTqlNcdfAg0"></script>
        </div>
      </footer>

  </body>
</html>
